SOLR_HOST=x.x.x.x:x
THREDDS_HOST=x.x.x.x:x
WPS_HOST=x.x.x.x:x
# WMS service url with <DATASET> replaced by the base url in thredds
# Leave as comment to use the default WMS service
#WMS_ALTERNATE_SERVER=http://host/ncWMS2/wms?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.3.0&DATASET=outputs/<DATASET>
